.detals {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 40vh;
}
.content-contact{
  margin: 1rem;
}
.content-contact .btn-contact{
  margin-bottom: 1.5rem;
}
.btn-contact {
  background: var(--button);
  color: var(--secondary-text);
  font-size: 18px;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bolder;
  width: 130px;
  margin-top: 1rem;
  border: 3px solid var(--secondary-text);
  float: right;
}

.background-blue {
  background-color: var(--button);
  width: 50%;
  border-radius: 10px;
}

.text-h1-p{
  float: left;
}
h1 {
  color: var(--secondary-text);
  font-size: 24px;
}

p {
  color: var(--secondary-text);
  font-size: 18px;
}

@media only screen and (max-width: 615px){
  .background-blue{
    min-width: 415px;
  }
}