#main {
  width: 100%;
  height: 60vh;
  background: var(--dark-hero-footer);
}
.box-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background-color {
  display: flex;
  width: 100%;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  height: 100%;
  gap: 25%;
  box-sizing: border-box;
}

.image img {
  width: 600px;
  height: 250px;
  float: right;
}

.text-image {
  text-align: left;
  float: left;
  width: 50%;
}

.background-color .text-image h1 {
  font-size: 48px;
  color: var(--main-text-color);
}

.background-color .text-image p {
  font-size: 18px;
  color: var(--secondary-text);
  width: 450px;
}

.background-color .text-image .btn {
  background: var(--button);
  color: var(--secondary-text);
  font-size: 18px;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bolder;
  width: 130px;
  margin-top: 1rem;
}

@media only screen and (max-width: 1590px) {
  .background-color {
    box-sizing: border-box;
    flex-direction: column;
  }
}

@media only screen and (max-width: 750px) {
  .text-image {
    padding-top: 100px;
    width: 100%;
  }
  .image img {
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  .text-image {
    box-sizing: border-box;
    padding-top: 100px;
    min-width: 500px;
  }
  .background-color {
    min-width: 500px;
  }
}
